* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-header: 'Staatliches', cursive;
  --ff-text: 'Palanquin', sans-serif; 
  --bg-primary: #EFF1FF;
  --fc-text: hsla(274, 84%, 12%, 1);
}

body {
  font-family: var(--ff-text);
  background-color: var(--bg-primary);
  font-size: 1.6rem;
}

.page {
  max-width: 38.4rem;
  height: 199.5rem;
  margin: 0 auto;
}

#logo {
  margin-top: 3.2rem;
}

header {
  height: 27.9rem;
  font-family: var(--ff-header);
  text-transform: uppercase;
  background: #8E9AAF;
  text-align: center; 
}

header h1 {
  font-size: 4rem;
  color: #FFFFFF;
  font-weight: 400;
  background: #CBC0D3;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05em;
  line-height: 3.4rem;
  padding-top: 0.8rem;
  height: 4.9rem;
  margin-bottom: 2.9rem;
}

main {
  margin-top: 2.9rem;
  display: grid;
  gap: 3.6rem;
}

p {
  font-family: var(--ff-text);
  color: var(--fc-text);
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  height: 7.5rem;
  margin-bottom: 2.7rem;
  margin-left: 3.6rem;
  margin-right: 4.3rem;
}

.card {
  position: relative;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  transition: all 200ms;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation-name: topdown; 
  animation-duration: 700ms; 
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.card span {
  position: absolute;
  top: 1.7rem;
  right: 3.9rem;
  border-radius: 2rem;
  height: 3.8rem;
  background-color: #FEEAFA;
  font-size: 2.0rem;
  color: #4A4E69;
  font-family: var(--ff-header);
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 3.4rem;
  padding: 0.1rem 2.4rem;
  animation-name: downtop; 
  animation-duration: 700ms; 
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
